#container-left {
  width: 60%;
}
#container-right {
  width: calc(40% - 20px);
  margin-left: 20px;
}
#newdevice-button {
  background-color: #3d0e0e;
  color: #c6c5c9;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
}

#left-container-buttons {
  padding-right: 1%;
}

#newdevice-button:hover {
  background-color: #b6a0da;
  cursor: pointer;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(0, -200px);
  }
  50% {
    transform: translate(-200px, -200px);
  }
  75% {
    transform: translate(-200px, 0px);
  }
  to {
    transform: translate(0, 0px);
  }
}
#masskara-button {
  color: #cdcad4;
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  padding-right: 20px;
  margin-right: 10px;
}

#masskara-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 400px;
  animation: floating 5s infinite;
  animation-timing-function: linear;
  z-index: -1;
  background-image: url("texture.jpg");
}

#masskara-button:hover {
  background-image: url("skull.jpg");
  background-size: cover;
  color: #ee1111;
  cursor: url("curskull.png"), auto;
}

#masskara-text {
  padding-left: 8px;
}

#masskara-img {
  margin-top: 8px;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  filter: invert(89%) sepia(16%) saturate(82%) hue-rotate(217deg)
    brightness(89%) contrast(92%);
}

.container-caption {
  line-height: 40px;
}

#logs {
  width: calc(100% - 40px);
  height: 500px;
  background-color: #802020;
  padding: 20px;
  overflow-y: scroll;
  margin-top: 10px;
  color: #db9a9a;
}

.user-block {
  background-image: linear-gradient(90deg, #7c1111, #8d3333);
  width: 24%;
  float: left;
  margin-right: 1%;
  height: 60px;
  margin-bottom: 10px;
  color: rgb(243, 188, 188);
}

.user-block-left {
  width: 50%;
  height: 100px;
  float: left;
}

.user-block-left-caption {
  height: 50px;
  font-size: 17px;
  padding-left: 10px;
  padding-top: 10px;
}

@keyframes status {
  from {
    font-size: 17px;
  }

  25% {
    margin-top: 16px;
    font-size: 19px;
  }
  50% {
  }
  75% {
  }
  to {
  }
}

.user-block-status {
  background-color: #20741a;
  padding: 3px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 18px;
  text-align: center;
  color: #72cc6c;
  animation: status 0.7s infinite;
}

.user-block-right {
  width: 50%;
  height: 100px;
  float: left;
}

.container-caption {
  width: 100%;
  height: 40px;
}

#user-blockplace {
  width: 100%;
  float: left;
  height: 500px;
  overflow-y: scroll;
  margin-top: 10px;
}
