.card-styling {
  box-shadow: 0px 0px 21px 0px rgba(61, 61, 61, 0.75);
  -webkit-box-shadow: 0px 0px 21px 0px rgba(61, 61, 61, 0.75);
  -moz-box-shadow: 0px 0px 21px 0px rgba(61, 61, 61, 0.75);
  border-radius: 10px;
}

.primary-bigfont {
  font-size: 45px;
  color: #ff2d54;
}

.primary-input {
  background-color: #e7e0ec;
  font-size: 30px;
  border: none;
  color: #ff2d54;
  height: 50px;
  border-bottom: 2px solid #ff2d54;
}

.primary-button {
  background-color: #ff2d54;
  color: #e7e0ec;
  font-size: 20px;
  border-radius: 25px;
  height: 50px;
  width: 120px;
  border: none;
}

.primary-button:hover {
  background-color: #e24663;
  cursor: pointer;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

#footer-logo {
  padding-left: 40px;
}

#footer-logout {
  width: 150px;
  margin-right: 10px;
}

#footer-logout:hover {
  background-color: #e7e0ec;
  cursor: pointer;
}

#footer-logout-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 29px;
  font-size: 16px;
  font-weight: bold;
  width: 65px;
}
#footer-logout-img {
  padding-top: 13px;
  width: 20px;
}

#container {
  padding-left: 40px;
  padding-right: 40px;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.container-caption {
  color: #ff2d54;
  font-weight: bold;
  font-size: 20px;
}
